{% extends 'base_login.html.twig' %}

{% block title %}Connectez-vous{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block body %}
    <form class="form-signin" method="post">

        <div class="text-center">
            <img src="{{ asset('images/logo.ico') }}" alt="madera_logo" class="mb-4"/>
        </div>

        <h1 class="h3 mb-3 font-weight-normal text-center">Connectez-vous</h1>
        <label for="inputLogin">Identifiant</label>
        <span class="d-inline-block mb-2" tabindex="0" data-toggle="tooltip" title="Vous n'avez pas de compte !? ZUT ! Aller je vous donne une indice, essayez 'admintest' comme identifiant et 'admin' comme mdp. J'en suis sûr ça va marcher :)">
            <button class="btn btn-primary btn-sm" style="pointer-events: none;" type="button" disabled><i class="fas fa-question"></i></button>
        </span>
        <input type="text" value="{{ last_username }}" name="login" id="inputLogin" class="form-control" required autofocus>
        <label for="inputPassword" class="mt-2">Mot de passe</label>
        <input type="password" name="password" id="inputPassword" class="form-control" required>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Se souvenir de moi
            </label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Connexion
        </button>

        {% if app.user %}
            <div class="mb-3 mt-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
            </div>

            <div class="mb-3 mt-3 text-center">
                <a href="{{ path('accueil') }}">Retourner à l'accueil</a>
            </div>
        {% endif %}

        {% if error %}
            <div class="alert alert-danger mt-3">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

    </form>
{% endblock %}
