{% extends 'base_datatable.html.twig' %}

{% set icon = 'fa-landmark' %}
{% set iconLabel = 'Gammes' %}

{% block title %}Gammes{% endblock %}

{% block body %}
    <h1 class="text-dark text-center mb-3">
        <span class="badge badge-pill badge-dark">{{ gammes | length }}</span>
        Gammes
    </h1>
    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('gamme_add') }}">
            <i class="fas fa-plus mr-2"></i>Ajouter une nouvelle gamme
        </a>
    </div>

    <div class="mb-5">
        <table class="table table-striped table-bordered dt-responsive nowrap datatableCustom" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Isolant</th>
                <th>Couverture</th>
                <th>Qualité d'huisserie</th>
                <th>Finition extérieure</th>
                <th>Mode de conception</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for gamme in gammes %}
                <tr>
                    <td>{{gamme.nom}}</td>
                    <td>{{gamme.isolant}}</td>
                    <td>{{gamme.couverture}}</td>
                    <td>{{gamme.qualitehuisserie}}</td>
                    <td>{{gamme.finitionExterieur}}</td>
                    <td>{{gamme.modeConception}}</td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm"
                           data-toggle="tooltip" title="Modifier {{ gamme.nom }}"
                           href="{{ path('gamme_edit', { 'id': gamme.id }) }}">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <a class="btn btn-danger btn-sm ml-1 confirm"
                           data-to-delete="{{ gamme.nom }}"
                           data-toggle="tooltip" title="Supprimer {{ gamme.nom }}"
                           href="{{ path('gamme_delete', { 'id': gamme.id }) }}">
                            <i class="fas fa-trash fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

