{% extends 'base.html.twig' %}

{% set icon = 'fa-marker' %}
{% set iconLabel = 'Devis' %}

{% block title %}Devis {{ devis }}{% endblock %}

{% block body %}
    <div class="card mb-5">
        <div class="p-5">
            <img class="card-img" src="{{ asset('images/maisons/' ~ random(1, 9) ~ '.jpg') }}" alt="maison">
        </div>
        <div class="card-body">
            <h3 class="card-title text-dark">Devis - {{ devis }}  <span class="badge badge-{{ devis.etat.badgeStyle }} ml-2">{{ devis.etat }}</span></h3>
            <h6 class="card-subtitle mb-2 mt-2 text-muted">
                Le projet, <b>{{ devis.projet }}</b> a été créé le <i>{{ devis.projet.createdAt | format_datetime(locale='fr') }}</i> par <i>{{ devis.vendeur.nom | upper }} {{ devis.vendeur.prenom }}</i> , pour le client, <b>{{ devis.projet.client }}</b>
            </h6>

            <h4 class="text-center text-dark mt-4">Produits</h4>
            <hr>
            {% for produit in devis.projet.produits %}
                Produit : {{ produit }}, Gamme : {{ produit.gamme }}
            {% endfor %}

            <h4 class="mt-4 text-dark text-center">Détailles du devis</h4>
            <hr>
            <div class="row p-4">
                <div class="col-12">
                    <h5 class="text-center">Modèles</h5>
                    <hr>
                    {% for modele in devis.modeles %}
                        <h5 class="text-dark text-center">Modèle - {{ modele }}</h5>
                        {% for module in modele.modules %}
                            <p><b>{{ loop.index }}.</b> Module - {{ module }}</p>
                            <div class="table-responsive-lg">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Composant</th>
                                        <th scope="col">Prix HT</th>
                                        <th scope="col">Prix TTC (20%)</th>
                                        <th scope="col">Fournisseurs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for composant in devisDetailled[module.nom] %}
                                        <tr>
                                            <td>{{ composant.composant  }}</td>
                                            <td>{{ composant.prixHT | format_currency('EUR', locale='fr') }}</td>
                                            <td>{{ composant.prixTTC | format_currency('EUR', locale='fr') }}</td>
                                            <td>{% for fournisseur in composant.fournisseurs %} {{ fournisseur}} <br>{% endfor %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            {{ form_start(form) }}
            <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="col-md-4">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.etat) }}
                </div>
                <div class="col-md-4">
                    {{ form_row(form.projet) }}
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="price text-gray-700"><h5 class="mt-4">{{ prixHTWithMarge | format_currency('EUR', locale='fr') }} HT</h5></div>
                <div class="price text-primary"><h5 class="mt-4">{{ (prixTTCWithMarge - prixHTWithMarge) | format_currency('EUR', locale='fr') }} - TVA (20%)</h5></div>
                <div class="price text-success"><h5 class="mt-4">{{ prixTTCWithMarge | format_currency('EUR', locale='fr') }} TTC</h5></div>
                <a href="{{ path('devis_generate_pdf', {'id': devis.id}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-file-pdf"></i><span class="ml-2">Générer PDF</span>
                </a>
                {% if devis.etat.commendable %}
                    <a href="" class="btn btn-outline-success">
                        <i class="fas fa-shopping-bag"></i><span class="ml-2">Commander</span>
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-success"><i class="fas fa-edit"></i><span class="ml-2">Modifier</span></button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

