{% extends 'base.html.twig' %}

{% trans_default_domain 'devis' %}

{% set icon = 'fa-marker' %}
{% set iconLabel = 'Devis' %}

{% block title %}Devis {{ devis }}{% endblock %}

{% block body %}
    <div class="card mb-5">
        <div class="p-5">
            <img class="card-img" src="{{ asset('images/maisons/' ~ random(1, 9) ~ '.jpg') }}" alt="maison">
        </div>
        <div class="card-body">
            <h3 class="card-title text-dark">Devis - {{ devis }}  <span class="badge badge-{{ constant("App\\Entity\\Devis::BADGES")[devis.etat] }} ml-2">{{ ('etat.' ~ (devis.etat | lower)) | trans }}</span></h3>
            <h6 class="card-subtitle mb-2 mt-2 text-muted">
                Le projet, <b>{{ devis.projet }}</b> a été créé le <i>{{ devis.projet.createdAt | format_datetime(locale='fr') }}</i> par <i>{{ devis.vendeur.nom | upper }} {{ devis.vendeur.prenom }}</i> , pour le client, <b>{{ devis.projet.client }}</b>
            </h6>


            {% if  devis.etat == constant("App\\Entity\\Devis::ETAT_EN_COMMANDE") or devis.etat == constant("App\\Entity\\Devis::ETAT_TRANSFERT_EN_FACTURATION")%}
                <div class="alert alert-success mt-5 mb-5 text-center" role="alert">
                    {% if devis.etat == constant("App\\Entity\\Devis::ETAT_EN_COMMANDE") %}
                        La commande est passée ! La livraison est en attente...
                    {% elseif devis.etat == constant("App\\Entity\\Devis::ETAT_TRANSFERT_EN_FACTURATION") %}
                        La livraison est prévue le {{ devis.commande.livraison.dateDeLivraison | format_datetime('long', 'none', locale='fr') }}.
                        <br>
                        Elle sera livrée à l'adresse suivante ;
                        {{ devis.commande.livraison.adresse }} {{ devis.commande.livraison.ville }} {{ devis.commande.livraison.codePostale }}
                    {% endif %}
                </div>
            {% endif %}

            <h4 class="text-center text-dark mt-4">Produits</h4>
            <hr>
            {% for produit in devis.projet.produits %}
                Produit : {{ produit }}, Gamme : {{ produit.gamme }}
            {% endfor %}

            <h4 class="mt-4 text-dark text-center">Détails du devis</h4>
            <hr>
            <div class="row p-4">
                <div class="col-12">
                    <h5 class="text-center">Modèles</h5>
                    <hr>
                    {% for modele in devis.modeles %}
                        <h5 class="text-dark text-center">Modèle - {{ modele }}</h5>
                        {% for module in modele.modules %}
                            <p><b>{{ loop.index }}.</b> Module - {{ module }}</p>
                            <div class="table-responsive-lg">
                                <table class="table table-hover">
                                    <thead>
                                    <tr>
                                        <th scope="col">Composant</th>
                                        <th scope="col">Prix HT</th>
                                        <th scope="col">Prix TTC (20%)</th>
                                        <th scope="col">Fournisseurs</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for composant in devisDetailled[module.nom] %}
                                        <tr>
                                            <td>{{ composant.composant  }}</td>
                                            <td>{{ composant.prixHT | format_currency('EUR', locale='fr') }}</td>
                                            <td>{{ composant.prixTTC | format_currency('EUR', locale='fr') }}</td>
                                            <td>{% for fournisseur in composant.fournisseurs %} {{ fournisseur}} <br>{% endfor %}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                            <hr>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>

            <div>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">Etapes</th>
                            <th scope="col" class="text-center">% de la somme à débloquer</th>
                            <th scope="col" class="text-center">La somme à débloquer</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for key, etape in constant("App\\Entity\\Devis::ETAPES") %}
                            <tr>
                                <td>{{ key | trans }}</td>
                                <td class="text-center">{{ etape * 100 }} %</td>
                                <td class="text-center">
                                    {{ (prixTTCWithMarge * etape) | format_currency('EUR', locale='fr') }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            {% if devis.etat == constant("App\\Entity\\Devis::ETAT_EN_COMMANDE") or devis.etat == constant("App\\Entity\\Devis::ETAT_TRANSFERT_EN_FACTURATION") %}
                {% set display = 'none' %}
            {% else %}
                {% set display = '' %}
            {% endif %}

            {% if devis.etat == constant("App\\Entity\\Devis::ETAT_TRANSFERT_EN_FACTURATION") %}
                {% set displayLivrer = 'none' %}
            {% else %}
                {% set displayLivrer = '' %}
            {% endif %}

            {{ form_start(form) }}
            <div class="d-flex justify-content-between align-items-center mt-4">
                <div class="col-md-4" style="display: {{ display }}">
                    {{ form_row(form.nom) }}
                </div>
                <div class="col-md-4" style="display: {{ display }}">
                    {{ form_row(form.etat) }}
                </div>
                <div class="col-md-4" style="display: {{ display }}">
                    {{ form_row(form.projet) }}
                </div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <div class="price text-gray-700"><h5 class="mt-4">{{ prixHTWithMarge | format_currency('EUR', locale='fr') }} HT</h5></div>
                <div class="price text-primary"><h5 class="mt-4">{{ (prixTTCWithMarge - prixHTWithMarge) | format_currency('EUR', locale='fr') }} - TVA (20%)</h5></div>
                <div class="price text-success"><h5 class="mt-4">{{ prixTTCWithMarge | format_currency('EUR', locale='fr') }} TTC</h5></div>
            </div>
            <div class="d-flex justify-content-between align-items-center mt-5">
                <a href="{{ path('devis_generate_pdf', {'id': devis.id}) }}" class="btn btn-outline-primary">
                    <i class="fas fa-file-pdf"></i><span class="ml-2">Générer PDF</span>
                </a>
                {% if devis.etat == constant("App\\Entity\\Devis::ETAT_ACCEPTE") and devis.commande is null %}
                    <a href="{{ path('commande_devis', {'id': devis.id}) }}" class="btn btn-outline-success confirm"
                       data-to-commande="{{ devis }}">
                        <i class="fas fa-shopping-bag"></i><span class="ml-2">Commander</span>
                    </a>
                {% endif %}
                {% if devis.commande is not null %}
                    <a href="{{ path('commande_ship', {'id': devis.commande.id }) }}" class="btn btn-outline-success ship"
                       data-to-ship="{{ devis }}" style="display: {{ displayLivrer }}">
                        <i class="fas fa-shipping-fast"></i><span class="ml-2">Livrer</span>
                    </a>
                    <a href="{{ path('commande_to_cancel', {'id': devis.id}) }}" class="btn btn-outline-danger annule"
                       data-to-commande="{{ devis }}" style="display: {{ displayLivrer }}">
                        <i class="fas fa-times-circle"></i><span class="ml-2">Annuler la commande</span>
                    </a>
                {% endif %}
                <button type="submit" class="btn btn-success" style="display: {{ display }}">
                    <i class="fas fa-edit"></i><span class="ml-2">Modifier</span>
                </button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.confirm').click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Etes vous sûr de commander le devis - " + $(this).data('to-commande') + " ?",
                text: 'Vous pouvez annuler la commande à tout moment avant qu\'elle soit livrée !',
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Oui, commander',
                cancelButtonText: 'Non'
            }).then((result) => {
                if (result.value) {
                    document.location.href = $(this).attr('href');
                }
            });
        });
        $('.annule').click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Etes vous sûr de annuler la commande pour le devis - " + $(this).data('to-commande') + " ?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Oui, annuler la commande',
                cancelButtonText: 'Non'
            }).then((result) => {
                if (result.value) {
                    document.location.href = $(this).attr('href');
                }
            });
        });
        $('.ship').click(function (e) {
            e.preventDefault();
            Swal.fire({
                title: "Etes vous sûr de livrer la commande pour le devis - " + $(this).data('to-ship') + " ?",
                icon: 'question',
                showCancelButton: true,
                confirmButtonColor: '#28a745',
                cancelButtonColor: '#dc3545',
                confirmButtonText: 'Oui, livrer la commande',
                cancelButtonText: 'Non'
            }).then((result) => {
                if (result.value) {
                    document.location.href = $(this).attr('href');
                }
            });
        });
    </script>
{% endblock %}

