{% extends 'base_datatable.html.twig' %}

{% block title %}Marges{% endblock %}

{% block body %}
    <h1 class="text-dark text-center mb-3">
        <span class="badge badge-pill badge-dark">{{ marges | length }}</span>
        Marges
    </h1>
    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('marge_add') }}">
            <i class="fas fa-plus mr-2"></i>Ajouter une nouvelle marge
        </a>
    </div>
    <div class="mb-5">
        <table class="table table-striped table-bordered dt-responsive nowrap datatableCustom" style="width:100%">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Marge entreprise</th>
                    <th>Marge commerciale</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for marge in marges %}
                    <tr>
                        <td>{{ marge.nom }}</td>
                        <td>{{ marge.MargeEntreprise * 100 | number_format(2, '.', ',') }} %</td>
                        <td>{{ marge.MargeCommerciale * 100 | number_format(2, '.', ',') }} %</td>
                        <td class="text-center">
                            <a class="btn btn-warning btn-sm"
                               data-toggle="tooltip" title="Modifier {{ marge.nom }}"
                               href="{{ path('app_marge_edit', { 'id': marge.id }) }}">
                                <i class="fas fa-edit fa-sm"></i>
                            </a>
                            <a class="btn btn-danger btn-sm ml-1 confirm"
                               data-to-delete="{{ marge.nom }}"
                               data-toggle="tooltip" title="Supprimer {{ marge.nom }}"
                               href="{{ path('marge_delete', {'id': marge.id })}}">
                                <i class="fas fa-trash fa-sm"></i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

