{% extends 'base_datatable.html.twig' %}

{% block title %}Modules{% endblock %}

{% block body %}
    <h1 class="text-dark text-center mb-3">
        <span class="badge badge-pill badge-dark">{{ modules | length }}</span>
        Modules
    </h1>
    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('module_add') }}">
            <i class="fas fa-plus mr-2"></i>Ajouter nouveau module
        </a>
    </div>

    <div class="mb-5">
        <table class="table table-striped table-bordered dt-responsive nowrap datatableCustom" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Quantité</th>
                <th>Coupe de principe</th>
                <th>CCTP</th>
                <th>Composants</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for module in modules %}
                <tr>
                    <td>{{module.nom}}</td>
                    <td>{{module.quantite | number_format(0, ' ', ' ')}}</td>
                    <td>{{module.coupeDePrincipe}}</td>
                    <td {% if module.cctp %}title="Longueur : {{ module.cctp.longueur }}&nbsp;Largeur : {{ module.cctp.largeur }}"{% endif %}>
                        {{module.cctp}}
                    </td>
                    <td>{% for composant in module.moduleComposant %}{{ composant.nature }}<br>{% endfor %}</td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm"
                           data-toggle="tooltip" title="Modifier {{ module.nom }}"
                           href="{{ path('module_edit', { 'id': module.id }) }}">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <a class="btn btn-danger btn-sm ml-1 confirm"
                           data-to-delete="{{ module.nom }}"
                           data-toggle="tooltip" title="Supprimer {{ module.nom }}"
                           href="{{ path('module_delete', { 'id': module.id }) }}">
                            <i class="fas fa-trash fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

