{% extends 'base_datatable.html.twig' %}

{% set icon = 'fa-step-forward' %}
{% set iconLabel = 'Etats devis' %}

{% block title %}Etats devis{% endblock %}

{% block body %}
    <h1 class="text-dark text-center mb-3">
        <span class="badge badge-pill badge-dark">{{ etatsdevis | length }}</span>
        Etats devis
    </h1>
    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('etat_devis_add') }}">
            <i class="fas fa-plus mr-2"></i>Ajouter nouvel état devis
        </a>
    </div>

    <div class="mb-5">
        <table class="table table-striped table-bordered dt-responsive nowrap datatableCustom" style="width:100%">
            <thead>
            <tr>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for etat in etatsdevis %}
                <tr>
                    <td>{{ etat.nom }}</td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm"
                           data-toggle="tooltip" title="Modifier {{ etat.nom }}"
                           href="{{ path('etat_devis_edit', { 'id': etat.id }) }}">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <a class="btn btn-danger btn-sm ml-1 confirm"
                           data-to-delete="{{ etat.nom }}"
                           data-toggle="tooltip" title="Supprimer {{ etat.nom }}"
                           href="{{ path('etat_devis_delete', { 'id': etat.id }) }}">
                            <i class="fas fa-trash fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

