{% extends 'base_datatable.html.twig' %}

{% set icon = 'fa-euro-sign' %}
{% set iconLabel = 'Paiements échelonnés' %}

{% block title %}Paiements échelonnés{% endblock %}

{% block body %}
    <h1 class="text-dark text-center mb-3">
        <span class="badge badge-pill badge-dark">{{ paiementsEchelonne | length }}</span>
        Paiements échelonnés
    </h1>
    <div class="text-center mb-3">
        <a class="btn btn-success" href="{{ path('paiement_echelonne_add') }}">
            <i class="fas fa-plus mr-2"></i>Ajouter nouveau paiement échelonné
        </a>
    </div>

    <div class="mb-5">
        <table class="table table-striped table-bordered dt-responsive nowrap datatableCustom" style="width:100%">
            <thead>
            <tr>
                <th>Nom de l'étape</th>
                <th>Pourcentage à payer</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for paiementEchelonne in paiementsEchelonne %}
                <tr>
                    <td>{{ paiementEchelonne.nomEtape }}</td>
                    <td>{{ paiementEchelonne.pourcentageAPayer  * 100 | format_number(locale='fr') }} %</td>
                    <td class="text-center">
                        <a class="btn btn-warning btn-sm"
                           data-toggle="tooltip" title="Modifier {{ paiementEchelonne.nomEtape }}"
                           href="{{ path('paiement_echelonne_edit', { 'id': paiementEchelonne.id }) }}">
                            <i class="fas fa-edit fa-sm"></i>
                        </a>
                        <a class="btn btn-danger btn-sm ml-1 confirm"
                           data-to-delete="{{ paiementEchelonne.nomEtape }}"
                           data-toggle="tooltip" title="Supprimer {{ paiementEchelonne.nomEtape }}"
                           href="{{ path('paiement_echelonne_delete', { 'id': paiementEchelonne.id }) }}">
                            <i class="fas fa-trash fa-sm"></i>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

